/* frontend/src/style.css */
html, body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* نفس لون الخلفية */
    overflow: hidden; /* منع التمرير للصفحة الرئيسية */
}

/* أي تنسيقات مخصصة إضافية تضعها هنا */